@font-face {
  font-family: "iconfont"; /* Project id 4461289 */
  src: url('iconfont.woff2?t=1727072275443') format('woff2'),
       url('iconfont.woff?t=1727072275443') format('woff'),
       url('iconfont.ttf?t=1727072275443') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-command:before {
  content: "\e628";
}

.icon-system:before {
  content: "\e806";
}

.icon-setting:before {
  content: "\e6f0";
}

.icon-HBASE:before {
  content: "\e8b7";
}

.icon-SEATA:before {
  content: "\e625";
}

.icon-web:before {
  content: "\e68b";
}

.icon-timeline:before {
  content: "\e64e";
}

.icon-java:before {
  content: "\ec0a";
}

.icon-style:before {
  content: "\ebde";
}

.icon-component:before {
  content: "\e84f";
}

.icon-nginx:before {
  content: "\e63c";
}

.icon-docker:before {
  content: "\e659";
}

.icon-vuejs:before {
  content: "\f25f";
}

.icon-H:before {
  content: "\e65a";
}

.icon-peizhi-xitongpeizhi:before {
  content: "\e624";
}

.icon-linux:before {
  content: "\e6cf";
}

.icon-shujujieruKafkajiqun:before {
  content: "\e64f";
}

.icon-mysql:before {
  content: "\e623";
}

.icon-elasticsearch:before {
  content: "\eb85";
}

.icon-redis:before {
  content: "\ec7c";
}

.icon-springboot:before {
  content: "\e6c3";
}

.icon-fenbushi:before {
  content: "\e680";
}

.icon-new:before {
  content: "\e603";
}

.icon-star:before {
  content: "\e604";
}

.icon-hot:before {
  content: "\e605";
}

.icon-arrowup:before {
  content: "\e606";
}

.icon-arrowdown:before {
  content: "\e608";
}

.icon-menu2:before {
  content: "\e609";
}

.icon-paper:before {
  content: "\e60a";
}

.icon-editor:before {
  content: "\e60b";
}

.icon-label_fill:before {
  content: "\e60c";
}

.icon-link:before {
  content: "\e60d";
}

.icon-sort:before {
  content: "\e60e";
}

.icon-share:before {
  content: "\e60f";
}

.icon-schedule:before {
  content: "\e610";
}

.icon-home2:before {
  content: "\e611";
}

.icon-chakan:before {
  content: "\e612";
}

.icon-print:before {
  content: "\e613";
}

.icon-menu:before {
  content: "\e614";
}

.icon-qr-code:before {
  content: "\e615";
}

.icon-stack:before {
  content: "\e616";
}

.icon-timerauto:before {
  content: "\e617";
}

.icon-off-search:before {
  content: "\e618";
}

.icon-speechbubble:before {
  content: "\e619";
}

.icon-calendar2:before {
  content: "\e61a";
}

.icon-arrowleft:before {
  content: "\e61b";
}

.icon-arrowright:before {
  content: "\e61c";
}

.icon-localoffer:before {
  content: "\e61d";
}

.icon-nav-search:before {
  content: "\e61e";
}

.icon-repeat:before {
  content: "\e61f";
}

.icon-folder:before {
  content: "\e620";
}

.icon-home:before {
  content: "\e621";
}

.icon-menu21:before {
  content: "\e622";
}

