$cursorDefault = url('/assets/cursors/default.cur') , auto
$cursorSelect = url('/assets/cursors/select.cur') , auto
$cursorText = url('/assets/cursors/text.cur') , auto


.pointer-default
  cursor $cursorDefault;

.pointer-select
  cursor $cursorSelect;

.pointer-text
  cursor $cursorText;


body
  cursor: $cursorDefault

.hover:hover, .social-item, .tags span, a, button, i, input .abstract-item, .sidebar-heading, .jump, .back-to-ceiling, .dropdown-wrapper, .custom-block.details summary
  cursor: $cursorSelect !important;

input:focus, input:hover
  cursor: $cursorText !important;

