body
  cursor url(https://dragon-chen777.github.io/assets/cursors/1/default.cur) , auto


.hover:hover, .social-item, .tags span, a, button, i, input
  cursor: url(https://dragon-chen777.github.io/assets/cursors/1/select.cur), auto !important


input:focus
  cursor: url(https://dragon-chen777.github.io/assets/cursors/1/text.cur), auto !important


.abstract-item
  cursor: url(https://dragon-chen777.github.io/assets/cursors/1/default.cur), auto


.abstract-item, .sidebar-heading, .jump, .back-to-ceiling, .dropdown-wrapper, .custom-block.details summary
  cursor: url(https://dragon-chen777.github.io/assets/cursors/1/select.cur), auto !important