@import "https://at.alicdn.com/t/c/font_4461289_sc2oeh7chhs.css";

@font-face
  font-family: 'iconfont';  /* Project id 4461289 */
  src: url('https://at.alicdn.com/t/c/font_4461289_xhehbickwg.woff2?t=1710128193485') format('woff2'),
          url('https://at.alicdn.com/t/c/font_4461289_xhehbickwg.woff?t=1710128193485') format('woff'),
          url('https://at.alicdn.com/t/c/font_4461289_xhehbickwg.ttf?t=1710128193485') format('truetype');