@import "cursor.styl"


@font-face
  font-family: KING_FONT;
  //src: url(https://dragon-chen777.github.io/assets/fonts/Alimama_DongFangDaKai_Regular.woff) format("woff");
  //src: url("/assets/font/鸿雷拙书简体.ttf");
  src: url("/assets/font/沐瑶随心手写体.ttf");


body
  font-size: 18px !important;
  font-family: "KING_FONT" !important;


.level-2, .tags span,  .sidebar-links
  font-size 1.2rem !important;


.nav-item, .level-3
  font-size 1rem !important;
